<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
  <title>Danh sách lớp học phần</title>
</head>
<body layout:fragment="content">
<div class="wrapper">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" style="display: flex;justify-content: space-between;">
                <div class="card-title">Danh sách các lớp học phần</div>
                <div th:if="${bien}" style="padding: 0;" class="form-group">
                  <select id="listDotHoc" onchange="loadListLopHocPhan()" class="form-control form-control" >
                    <option th:each="nh : ${listNamHocHocKy}" th:text="${nh.getDotHoc()}" th:value="${nh.getDotHoc()}"></option>
                  </select>
                </div>
                <a th:unless="${bien}" href="/QLLopHocPhan/them" class="btn btn-outline-secondary">Thêm mới</a>
              </div>
              <div class="card-body">
                <table id="listLopHocPhan" class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Tên lớp</th>
                    <th scope="col">Số lượng sinh viên</th>
                    <th scope="col">Đợt học</th>
                    <th scope="col">Thời gian học</th>
                    <th scope="col">Tên giáo viên</th>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Môn học</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="lh:${ListLopHocPhan}" style="cursor: pointer;">
                    <td th:text="${lh.tenLop}"></td>
                    <td>
                    <label th:id="'label_'+${lh.getMaLop()}" th:data-id="${lh.getMaLop()}"
                           th:data-value="${lh.maxSV}"
                           onclick="changeSL(this.getAttribute('data-id'),this.getAttribute('data-value'))"
                           th:text="${@quanLyLopHocPhanController.sl(lh.getMaLop()) + '/' + lh.maxSV}" ></label>
                    </td>
                    <td th:text="${lh.getDocHoc().getDotHoc()}"></td>
                    <td th:text="${lh.lichHoc.getNgayBatDau()+' → '+ lh.lichHoc.getNgayKetThuc()}"></td>
                    <td th:text="${lh.getGiaoVien().getHo()+ ' ' + lh.getGiaoVien().getTen()}"></td>
                    <td th:text="${lh.getPhongHoc().getTenPhong()}"></td>
                    <td th:text="${lh.getHocPhan().getTenHocPhan()}"></td>
                    <td th:if="${lh.trangThai}" class="text-success" th:id="${'trangthai_'+lh.getMaLop()}">Đang mở</td>
                    <td th:unless="${lh.trangThai}" class="text-danger" th:id="${'trangthai_'+lh.getMaLop()}">Đã đóng</td>
                    <td th:if="${lh.trangThai}"><button th:id="${'btntrangthai_'+lh.getMaLop()}"
                                                        th:data-id="${lh.getMaLop()}"
                                                        onclick="changeTrangThai(this.getAttribute('data-id'),false)"
                                                        class="btn btn-danger">Đóng ĐK</button></td>
                    <td th:unless="${lh.trangThai}"><button class="btn btn-success"
                                                            th:id="${'btntrangthai_'+lh.getMaLop()}"
                                                            th:data-id="${lh.getMaLop()}"
                                                            onclick="changeTrangThai(this.getAttribute('data-id'),true)">
                      Mở ĐK</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>